@charset "utf-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: blue;
    background-size: cover;
    background-repeat: no-repeat;

}
h1{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px black;
}

@media screen and (orientation :portrait) {
    body{
        background: url(../imagens/cev-portrait.jpg);
        background-color: rgb(5, 59, 236);
        background-position:  center;
        background-size:100% 100%;
        background-repeat: no-repeat;

        }
}
@media screen and (orientation: landscape) {
    body{
        background: url(../imagens/cev-landscape.jpg);
        background-position: left bottom;
        background-repeat: no-repeat;
        background-size: cover;
        
        }
}