@charset "utf-8";
/*retrato em pe*/

body{
    background: url(../imagens/cev-portrait.jpg);
    background-color: rgb(5, 59, 236);
    background-position:  center;
    background-size:100% 100%;
    background-repeat: no-repeat;
    
}